<div class="centered-content">
    <h2>Uspešno logirano!</h2>
    <hr />

    <div class="content-box">
        <label class="std-label-borderless" for="uspeh-tip">Tip:</label>
        <div class="item-box">
            <span class="std-span" id="uspeh-tip">{{tip}}</span>
        </div>
        <label class="std-label-borderless" for="uspeh-ime">Uporabnik:</label>
        <div class="item-box">
            <span class="std-span" id="uspeh-uporabnik">{{ime}} {{priimek}}</span>
        </div>
        <label class="std-label-borderless" for="uspeh-id">ID:</label>
        <div class="item-box">
            <span class="std-span" id="uspeh-id">{{id}}</span>
        </div>
    </div>
</div>